@model ForumApp.Models.Category
@{
    ViewData["Title"] = "Izmena kategorije";
}
<h2 class="text-center mb-4">Izmeni kategoriju</h2>
<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="CategoryId" />
    <div class="form-group">
        <label asp-for="Name" class="form-label">Naziv kategorije:</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>

    <div class="d-flex justify-content-center" mt-1>
        <button type="submit" class="btn btn-success">Sacuvaj izmene</button>
    </div>
</form>

