@model IEnumerable<ForumApp.Models.Category>
@{
    ViewData["Title"] = "Lista kategorija";
}

<h2 class="text-center mb-4 mb-3">Kategorije:</h2>

<div class="d-flex justify-content-end">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-success">Dodaj novu kategoriju</a>
    }
    else
    {
        <a asp-action="Create" class="btn btn-success">Dodaj novu potkategoriju</a>

    }
</div>


<table class=" table table-striped">

    <thead>
        <tr>
            <th>Naziv</th>
            <th>Opcije</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var k in Model.Where(k => k.ParentCategoryId == null))
        {
            <partial name="_CategoryRow" model="k"></partial>
        }
    </tbody>
</table>
